
/* Full height */
html, body, .full-height {
    height: 100vh;
}

/* Error messages fix */
label { width: 100%; }

/* Change all inputs colors */

/* label focus color */
.input-field input:not(.browser-default):focus:not([readonly]) + label 
{
    color: #4caf50;
}
/* label underline focus color */
.input-field input:not(.browser-default):focus:not([readonly]) 
{
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #4caf50;
}

/* Login page styles */
#login {
    background: url('/img/login_bg.jpg');
    background-size: cover;
}

/* Main pages styles */
body#back {
    background-color: #f5f5f5;
    color: #333333;
}
/* Navbar */
.main-nav {
    border-bottom: 1px solid #e7e7e7;
}
.main-nav ul a {
    color: #333333;
}
.user-nav > li #dropdownUser {
    min-width: 180px;
}

/* Sidenav */
header, main, footer {
    padding-left: 250px;
}
#side-nav {
    width: 250px;
}

/* Main wrapper */
main.wrapper {
    width: 90%;
    margin: 0 auto;
}

span.stat-elem {
    margin-bottom: 1em;
    font-size: 1.4em;
}

/* Elements */
.btn, .btn-flat {
    border-radius: 20px !important;
}

@media only screen and (max-width : 992px) {
    /* Sidebar padding */
    header, main, footer { padding-left: 0; }
}
@media only screen and (min-width : 992px) {
    .user-nav > li { min-width: 170px; }
}