/* Full height */
html, body, .full-height {
    height: 100vh;
}

/* Error messages fix */
label { width: 100%; }

/* Errors display on fields */
.input-field.invalid:after {
    content: attr(data-error);
    display: block;
    color: red;
    position: absolute;
    bottom: 0;
    font-size: .8rem;
}

/* Login page style */
#login {
    background: url('/img/login_bg.jpg');
    background-size: cover;
}

/* Main pages styles */
body#back {
    background-color: #f5f5f5;
    color: #333333;
}
.wrapper {
    width: 98%;
    margin: 0 auto;
}

/* Navbar */
.main-nav {
    border-bottom: 1px solid #e7e7e7;
}
.main-nav ul a {
    color: #333333;
}
.user-nav > li #dropdownUser {
    min-width: 180px;
}

/* Sidenav */
header, main, footer {
    padding-left: 270px;
}

#side-nav {
    width: 270px;
    background-size: cover;
}
#side-nav .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#side-nav .wrapper { width: 90%; }
.side-head {
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
#side-nav ul li a, #side-nav ul li a i { color: #fff; }
#side-nav ul li a { text-transform: uppercase; }
#side-nav li { margin-top: 5px;}
#side-nav li, #side-nav li a { border-radius: 4px; }
#side-nav li > a:hover { background: rgba(255, 255, 255, 0.13); }
#side-nav li.active { background-color: rgba(255, 255, 255, 0.23); }

.valign-wrapper > .col {
    margin-left: 0!important;
}

/* Elements & Override */
.btn, .btn-flat { border-radius: 4px !important; }

.panel {
    border: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
    border-radius: 4px;
    background-color: #fff;
}
.panel > .panel-head {
    padding: 1rem;
    font-size: 1.2rem;
}
.panel > .panel-content { padding: 1.5rem; }
.panel-content > .panel-title {
    color: #888;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.panel-content > .panel-item {
    padding-bottom: 1.2rem;
    font-weight: 500;
}
.panel-content > .panel-item:last-child { padding-bottom: 0; }
.panel-content > .panel-item i.tiny { line-height: inherit; }
.panel-content > .panel-item a { color: inherit; }
.panel-content > .panel-item a:hover { color: #039be5; }

/* Error panel */
.frontErrors .panel, .backErrors .panel {
    border: 1px solid #F44336;
    color: #F44336;
}

.divider, .side-nav .divider { 
    width: 90%;
    margin: 0 auto;
}

.dropdown-content {
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.switch {
    margin-bottom: 1rem;
}

.materialboxed:not(.active) {
    max-width: 100%;
    max-height: 250px;
    margin: 0 auto;
}

.students {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Media */
@media only screen and (max-width : 992px) {
    header, main, footer { padding-left: 0; }
}
@media only screen and (min-width : 992px) {
    .user-nav > li { min-width: 170px; }
}
@media only screen and (min-width : 601px) {
    .side-head {
        height: 64px;
        line-height: 64px;
    }
}
/* Responsive tables */
@media only screen and (max-width : 720px) {
    .responsive-resources thead {
        display: none;
    }
    .responsive-resources td:not(:first-child) {
        display: block;
        padding: 3px;
    }
    .responsive-resources td:first-child {
        float: left;
    }
    .responsive-resources td:nth-child(4), .responsive-resources td:nth-child(5) {
        float: right;
    }
}

/* Student question form */
.answer_radio {
    display: inline-block;
    margin: 0 20px;
}

#formfinish .material-icons {
    font-size: 35px;
}

#formfinish p {
    font-size: 1.1rem;
}
